<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<PLC Name="PLC_PRUEBA"
		Protocol="AB_EIP"
		Type="ControlLogix"
		Address="130.1.64.70"
		Path="1,0"
		Timeout="5000">
	</PLC>
	<Tag Name="Test_vel"
		 Address="test_vel"
		 Type="DINT"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="BOOL"
		 Address="Prueba_Mqtt_Bool"
		 Type="BOOL"
		 PLC="PLC_PRUEBA"
		 Period= "10000">
	</Tag>
	<Tag Name="DINT"
		 Address="Prueba_Mqtt_Dint"
		 Type="DINT"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="INT"
		 Address="Prueba_Mqtt_Int"
		 Type="INT"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="SINT"
		 Address="Prueba_Mqtt_Sint"
		 Type="SINT"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="LINT"
		 Address="Prueba_Mqtt_Lint"
		 Type="LINT"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="REAL"
		 Address="Prueba_Mqtt_Real"
		 Type="REAL"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="LREAL"
		 Address="Prueba_Mqtt_Lreal"
		 Type="LREAL"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<Tag Name="String"
		 Address="Prueba_Mqtt_String"
		 Type="String"
		 PLC="PLC_PRUEBA"
		 Period= "30000">
	</Tag>
	<PLC Name="TC11"
		Protocol="AB_EIP"
		Type="SLC500"
		Address="10.101.101.201"/>
	<!--Tag Name="TALONES_X_MINUTO"
		 Address="N106:51"
		 Type="INT"
		 PLC="TC11"
		 Period= "1000"/-->
	<Broker Name="Mi_Broker" Address="BA3490" Port="1883"/>
	<Publish Topic="RadialAuto/Materiales/TC11/TalonesXMinuto"
			 Broker="Mi_Broker"
			 Tag="Test_vel"
		     OnChange="True"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Bool"
			 Broker="Mi_Broker"
			 Tag="Bool"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Bool/In"
			 Broker="Mi_Broker"
			 Tag="BOOL"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Dint"
			 Broker="Mi_Broker"
			 Tag="DINT"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Dint/In"
			 Broker="Mi_Broker"
			 Tag="DINT"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Int"
			 Broker="Mi_Broker"
			 Tag="INT"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Int/In"
			 Broker="Mi_Broker"
			 Tag="INT"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Sint"
			 Broker="Mi_Broker"
			 Tag="SINT"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Sint/In"
			 Broker="Mi_Broker"
			 Tag="SINT"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Lint"
			 Broker="Mi_Broker"
			 Tag="LINT"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Lint/In"
			 Broker="Mi_Broker"
			 Tag="LINT"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Real"
			 Broker="Mi_Broker"
			 Tag="REAL"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Real/In"
			 Broker="Mi_Broker"
			 Tag="REAL"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Lreal"
			 Broker="Mi_Broker"
			 Tag="LREAL"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_Lreal/In"
			 Broker="Mi_Broker"
			 Tag="LREAL"/>
	<Publish Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_String"
			 Broker="Mi_Broker"
			 Tag="STRING"
		     OnChange="True"/>
	<Subscribe Topic="RadialCamion/Materiales/PLC_PRUEBA/Prueba_Mqtt_String/In"
			 Broker="Mi_Broker"
			 Tag="STRING"/>
</Config>