<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<PLC Name="CTM4"
		Protocol="AB_EIP"
		Type="ControlLogix"
		Address="130.1.64.70"
		Path="1,0"
		Timeout="5000">
	</PLC>
	<Tag Name="Test_vel"
		 Address="test_vel"
		 Type="DINT"
		 PLC="CTM4"
		 Period= "100">
	</Tag>
	<PLC Name="TC11"
		Protocol="AB_EIP"
		Type="SLC500"
		Address="10.101.101.201"/>
	<Tag Name="TALONES_X_MINUTO"
		 Address="N106:51"
		 Type="INT"
		 PLC="TC11"
		 Period= "1000"/>
	<Broker Name="BA3490" Address="BA3490" Port="1883"/>
	<Publish Topic="RadialAuto/Materiales/TC11/TalonesXMinuto"
			 Broker="BA3490"
			 Tag="Test_vel"
		     OnChange="True"/>
</Config>